@model IEnumerable<Paqueteria.Models.dbModels.Repartidore>

@{
    ViewData["Title"] = "Repartidores";
}

@section Scripts{
    <script src="~/js/Repartidores.js"></script>
}


<h1>Repartidores</h1>

<p>
    <a asp-action="Create">Registrar a un nuevo repartidor</a>
</p>
<table class="table" id="repartidores">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Materno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contraseña)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Paterno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Materno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contraseña)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdRepartidor">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdRepartidor">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdRepartidor">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
